* {
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    background-color:rgb(246, 222, 190);
}

input {
    padding: 8px;
    font: inherit;
}

button {
    padding: 8px 12px;
}

/* ======================== RESET ================= */

.link {
    text-decoration: none;
    color: currentColor;
}

button {
    color: currentColor;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* ======================== /RESET ================= */
.search-form{
    
    display: block;
    margin-bottom: 32px;
    padding: 16px;
    background-color: blueviolet;
    text-align: center;
    border-radius: 24px;
}

input{
    margin-right: 16px;
    padding: 10px;
    border-radius: 10px;
    width: 400px;
    padding: 10px;
    border: 0;
    border-bottom: 1px solid #eee;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    font-family: inherit;
    font-size: inherit;
}

.btn {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 25px;
    margin: 0 15px 15px 0;
    outline: none;
    border: 1px solid #fff;
    border-radius: 50px;
    height: 46px;
    line-height: 46px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #444;
    background-color: #fff;
    box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    vertical-align: top;
    transition: box-shadow 0.2s;
}

.btn:hover {
    transition: all 0.2s;
    box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}

.btn:active {
    background-color: #808080;
    box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
}




.gallery {
   display: flex;
   gap: 32px;
   flex-wrap: wrap;
   justify-content: center; 
}

.info{
    display: flex;
    gap: 24px;
    text-align: center;
    justify-content: center;
    padding: 16px;
    border-radius: 24px;
}
.info-item{
    display: flex;
    flex-direction: column;
    gap: 10px

}

.gallery__link{
    display: block;
}

.gallery__image{
    border-radius: 24px;
    border-radius: 24px;
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.photo-card{
    max-width: 450px;
    border-radius: 24px;
    background-color:burlywood;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
            0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

