* {
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
}

input {
    padding: 8px;
    font: inherit;
}

button {
    padding: 8px 12px;
    cursor: pointer;
}

/* ======================== RESET ================= */

.link {
    text-decoration: none;
    color: currentColor;
}

button {
    color: currentColor;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* ======================== /RESET ================= */
.search-form{
    
    display: block;
    margin-bottom: 32px;
    background-color: blueviolet;
    text-align: center;
}



.gallery {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}


.gallery__item {
    margin-bottom: 24px;
    position: relative;
   
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.gallery__image:hover {
    transform: scale(1.03);
}

.gallery__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform var(--animation-duration) var(--timing-function);
}

.gallery__link {
    display: block;
    text-decoration: none;
    height: 100%;
}

.gallery__link:hover {
    cursor: zoom-in;
}

.info{
    display: flex;
    gap:16px;
    text-align: center;
    margin-top: 24px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
}




